.wrapper {
  margin: 20px auto;
  width: 90%;
}

body {
  background-color: #f9f0b8;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textfield {
  width: 60%;
}

.button {
  margin-top: 2rem;
}
